<div class="container__big-card">
  <div class="big-card__picture">
    <img
    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%2Fid%2FOIP.sWCvltMZF_s3mjA5sL-RdgHaE8%3Fpid%3DApi&f=1&ipt=11653634fc689577fb0b295074b694d074be526850b2dce2c8d5d4dbf04ae211&ipo=images"
    alt=""
    height="250px"
    width="400px"
    >
  </div>
  <div class="big-card__title">
    <h1><a href="#">TESTE TESTE TESTE TESTE DADOS MOCKADOS</a></h1>

  </div>
  <div class="big-card__description">
    <p><a href="#">OUTRO TEXTO MENOR COM DADOS ALEATORIOS</a></p>

  </div>
</div>
