

<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="article__main">
    <app-big-card
      *ngIf="mainArticlePreview"
      [Id]="mainArticlePreview.id"
      [photoCover]="mainArticlePreview.photoCover"
      [cardTitle]="mainArticlePreview.title"
      [cardDescription]="mainArticlePreview.description"
    ></app-big-card>
  </div>
  <div class="article__others">
    <app-small-card
      *ngFor="let article of otherArticles"
      [Id]="article.id"
      [photoCover]="article.photoCover"
      [cardTitle]="article.title"
    ></app-small-card>
  </div>
</div>
